/* Modo oscuro por defecto si el usuario tiene configurado el modo oscuro en su sistema o navegador */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #212529;
        color: white; /* Texto blanco */
    }

    /* Personalizar los inputs en modo oscuro */
    input.form-control, select.form-control, textarea.form-control {
        background-color: #343a40;
        color: white;
        border: 1px solid #495057; 
    }

    input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
        background-color: #495057; /* Fondo más claro cuando el input está en foco */
        border-color: #80bdff; /* Borde claro en focus */
    }

    /* Modo oscuro para los botones 
    .btn {
        background-color: #343a40; 
        color: white; 
    }*/

    /* Cambiar color de los enlaces si están presentes */
    a {
        color: #80bdff; /* Enlaces en azul claro */
    }

    /* Estilo de los enlaces al hacer hover */
    a:hover {
        color: #ffffff; /* Enlaces en blanco al hacer hover */
    }
}

/* Modo claro si el usuario tiene configurado el modo claro */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: black; /* Texto negro */
    }

    input.form-control, select.form-control, textarea.form-control {
        background-color: #ffffff;
        color: black;
        border: 1px solid #ced4da;
    }

    input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
        background-color: #e9ecef;
        border-color: #80bdff;
    }

    .btn {
        background-color: #007bff;
        color: white;
    }

    a {
        color: #007bff;
    }

    a:hover {
        color: #0056b3;
    }
}