h2.text-center {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
    display: block;  /* Cambia inline-block a block */
    margin: 0 auto;  /* Centra el elemento */
}