{% extends "base.html" %}

{% block title %}Página Principal{% endblock %}

{% block content %}
    <!-- Mostrar los mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Bienvenido a mi aplicación Flask</h1>
    <p>Esta es la página principal.</p>
{% endblock %}
