{% extends "base.html" %}

{% block title %}Usuarios Registrados{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h2 class="text-center">Usuarios Registrados</h2>



    <!-- Mostrar los mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="table-responsive"> 
        <table id="tablaUsuarios" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Usuario</th>
                    <th>Correo Electrónico</th>
                    <th>Fecha de Registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.created_at }}</td>
                    <td>
                        <!-- Botón para actualizar -->
                        <button class="btn btn-success btn-sm actualizar-btn" 
                                data-id="{{ usuario.id }}" 
                                data-username="{{ usuario.username }}" 
                                data-email="{{ usuario.email }}">
                                <i class="fas fa-edit"></i> Editar
                        </button>
        
                        <!-- Botón para eliminar -->
                        <button class="btn btn-danger btn-sm eliminar-btn" 
                                data-id="{{ usuario.id }}">
                                <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'partials/modal_edicion_users.html' %}
{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/users.js') }}"></script>{% endblock %}